.card {
    transition: all .2s ease-in-out;
}

.card:hover {
    background-color: aqua;
    transform: scale(1.01);
}

.icon {
    padding: 8px;
    display: inline-flex;
}

.card-titulo {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}